{{ define "main" }}
    <h1 class="page-title">{{ .Title }}</h1>
    <ul class="articles list">
        {{ range (.Paginate (.Pages.ByParam "rating").Reverse 100).Pages }}
        <li>
            <a href="{{ .Permalink }}">
                <article class="mini">
                    <header>
                        <h1>{{ .Title }}</h1>
                        {{ if .Params.Rating }}
                        <div class="rating">{{ strings.Repeat .Params.Rating "★" }}</div>
                        {{ end }}
                    </header>
                </article>
            </a>
        </li>
        {{ end }}
    </ul>
    <ul class="pagination">
        <li>{{ if .Paginator.HasPrev }}<a href="{{ .Paginator.Prev.URL }}">Newer</a>{{ end }}</li>
        <li>{{ if .Paginator.HasNext }}<a href="{{ .Paginator.Next.URL }}">Older</a>{{ end }}</li>
    </ul>
{{ end }}
