<meta charset="utf-8">

<title>{{ if eq .IsHome false }}{{ .Site.Title }} — {{ .Title }}{{ else }}{{ .Title }}{{ end }}</title>

<meta name="robots" content="all">
<meta name="author" content="{{ .Site.Params.Author }}">
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
<meta name="description" content="{{ .Site.Params.Description }}">

<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:type" content="{{ if eq .IsHome false }}article{{ else }}website{{ end }}">
<meta property="og:title" content="{{ .Site.Title }}">
<meta property="og:image" content="">
<meta property="og:locale" content="en_AU">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:description" content="{{ .Site.Params.Description }}">

<meta name="twitter:url" content="{{ .Permalink }}">
<meta name="twittersite" content="@{{ .Site.Params.Social.Twitter }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ .Site.Title }}">
<meta name="twitter:image" content="">
<meta name="twitter:description" content="{{ .Site.Params.Description }}">