<meta charset="utf-8">

<title>{{ .Site.Title }} — {{ .Title }}</title>

<meta name="robots" content="all">
<meta name="author" content="{{ .Site.Params.Author }}">
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
<meta name="description" content="{{ .Site.Params.Description }}">

<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:type" content="{{ if eq .IsHome false }}article{{ else }}website{{ end }}">
<meta property="og:title" content="{{ .Site.Title }}">
<meta property="og:image" content="{{ .Site.BaseURL }}/preview.jpg">
<meta property="og:locale" content="en_AU">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:description" content="{{ .Site.Params.Description }}">

<meta name="twitter:url" content="{{ .Permalink }}">
<meta name="twittersite" content="@{{ .Site.Params.Social.Twitter }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ .Site.Title }}">
<meta name="twitter:image" content="{{ .Site.BaseURL }}/preview.jpg">
<meta name="twitter:description" content="{{ .Site.Params.Description }}">

<link rel="mask-icon" href="{{ .Site.BaseURL }}/mask.svg">
<link rel="shortcut icon" type="image/png" href="{{ .Site.BaseURL }}/favicon.png">
<link rel="apple-touch-icon" href="{{ .Site.BaseURL }}/icon.png">

<link rel="stylesheet" href="/style.css">

<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap" rel="stylesheet">