/* Base Styles */
/* ----------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, li,
h1, h2, h3,
img, video, table,
p, blockquote, pre {
    max-width: 100%;
    margin-bottom: 1em;
}

:root {
    --color-background: #F4F4F4;
    --color-foreground-primary: #222;
    --color-foreground-secondary: #666;
    --color-foreground-tertiary: #aaa;
    --color-divider: #E4E4E4;

    --width-site: 30rem;
}

@media (prefers-color-scheme: dark) {
   :root {
        --color-background: #121212;
        --color-foreground-primary: #ffffff;
        --color-foreground-secondary: #aaa;
        --color-foreground-tertiary: #666;
        --color-divider: #333;
   }
}

/* Typography */
/* ----------------------------------------- */

html {
    color: var(--color-foreground-secondary);
    background-color: var(--color-background);

    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 100%;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: var(--color-foreground-secondary);
    text-decoration: none;
}

a:hover {
    color: var(--color-foreground-secondary);
    border-bottom: 1px solid var(--color-foreground-tertiary);
}

h1, h2, h3 {
    font-weight: 400;
    font-size: 1em;
    color: var(--color-foreground-primary);
}

.about h2 {
    font-size: 1.25em;
    margin-top: 4rem;
}

.about a {
    color: var(--color-foreground-primary);
}

/* Page Layout */
/* ----------------------------------------- */

body {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.masthead {
    text-align: center;
}

.page-title {
    max-width: var(--width-site);
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto 4rem;
    font-size: 1.5rem;
    letter-spacing: -0.03rem;
    text-align: center;
}

.articles {
    list-style: none;
    margin: 0 auto 4rem;
}

.articles > li {
    margin-bottom: 8rem;
}

.list > li {
    margin-bottom: 1rem;
}

.articles header,
.articles .meta,
.articles .content,
.articles footer {
    max-width: var(--width-site);
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.pagination {
    list-style: none;
    max-width: var(--width-site);
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto 4rem;
    display: flex;
    justify-content: space-between;
}

.about {
    max-width: var(--width-site);
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto 4rem;
}

.colophon {
    max-width: var(--width-site);
    color: var(--color-foreground-tertiary);
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto 6rem;
    font-size: 0.75rem;
    text-align: center;
}

/* Components */
/* ----------------------------------------- */

.masthead a svg path {
    fill: var(--color-foreground-primary)
}

.logo:hover {
    border: none;
}

.menu {
    overflow: scroll;
    padding-top: 2rem;
    padding-bottom: 6rem;
}

.menu::-webkit-scrollbar {
    display: none;
}

.menu ul {
    padding-left: calc(50vw - 15rem + 2rem);
    white-space: nowrap;
    margin-bottom: 0;
}

.menu li {
    display: inline-block;
    margin-right: 1rem;
}

.menu li:last-child {
    margin-right: calc(50vw - 15rem + 2rem);
}

.menu .active a {
    color: var(--color-foreground-primary);
    border-bottom: 1px solid var(--color-foreground-primary);
}

article header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.25rem;
}

article header h1 {
    margin-bottom: 0;
}

.mini header {
    flex-wrap: wrap;
}

.mini header:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    margin-top: 1rem;
    background: var(--color-divider);
}

.list li:last-child header:after {
    display: none;
}

article ul, article li {
    margin-bottom: 0;
}

.locations, .tags {
    list-style: none;
}

.rating {
    color: var(--color-foreground-primary);
}

.meta {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.meta:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    margin-top: 1rem;
    background: var(--color-divider);
}

.locations {
    display: flex;
}

.locations li:not(:last-child):after {
    content: ', ';
    display: inline;
    margin-right: 0.25rem;
    color: var(--color-foreground-tertiary);
}

time {
    font-size: 0.75rem;
    color: var(--color-foreground-tertiary);
}

.row {
    overflow: scroll;
    margin-bottom: 0.5rem;
}

.row::-webkit-scrollbar {
    display: none;
}

.images {
    padding-left: calc(50vw - 15rem + 2rem);
    white-space: nowrap;
}

.images img {
    display: inline-block;
    max-width: 26rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.images img:last-child {
    margin-right: calc(50vw - 15rem + 2rem);
}

@media (max-width: 30rem) {
    .images, .menu ul {
        padding-left: 2rem;
    }

    .images img {
        max-width: calc(100vw - 4rem);
    }

    .images img:last-child, .menu li:last-child {
        margin-right: 2rem;
    }
}

.tags li {
    font-size: 0.75rem;
    display: inline-block;
}

.tags li:not(:last-child) {
    margin-right: 0.5rem;
}

.locations a, .tags a {
    color: var(--color-foreground-tertiary);
}

.pagination del {
    color: var(--color-foreground-tertiary);
}

th {
    font-weight: normal;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    border-bottom: 1px solid var(--color-divider);
}

td {
    vertical-align: top;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-right: 1rem;
    border-bottom: 1px solid var(--color-divider);
}

tr:last-child td {
    border-bottom: none;
}

.insta {
    display: inline-block;
    margin-top: 2rem;
}

.insta:hover {
    border: none;
}